#message
  h1 Sensor Data
  table
    tr
      td Moisture Sensor
      td Light Sensor
      td Time Sampled
    each sensorDataObj in sensorData
      tr
        td= sensorDataObj.moisture
        td= sensorDataObj.light
        td= format(new Date(sensorDataObj.timestamp), 'MMMM do, yyyy - h:mma')
